html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre, a, abbr,acronym,address,big,cite,code,del,dfn,en,
img,ins,kbd,q,s,samp,small,strike,sub,tt,var,u,dt,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,
menu,mav,output,ruby,section,summary,time,mark,audio,video{
     margin: 0;
     padding: 0;
     font-size: 100;
     font: inherit;
     vertical-align: baseline;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,::selection{
    display: block;
}
blockquote,q{
    quotes: none;
}
blockquote:before, blockquote:after,
q :before, q:after{
    content: '';
    content: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
body{
    font-style: 'OpenSans',sans-serif;
    background: url(../fond-gris-peint_53876-94041.jpg) center fixed;
    background-size:cover ;
}
#container{
    font-size: 32px;
    margin: 128px auto;
    width: 278px;
}
h1{
    text-align: center;
    color: #333;
    text-shadow: 0 1px 1px rgba(0, 0,  .4);
    margin-bottom: 36px;
}
#calculator, #number{
    border-radius: 6px;
}
#calculator{
    margin: 0 auto;
    background-color: #454545;
    border-color: #303030;
    width: 276;
    box-shadow: 0 7px 10px rgba(0,0,0,.8), 
}
#header{
    padding: 16px;
}
input#number{
    text-align: right;
    background-color: #121212;
    border: none;
    columns: #ffffff;
    font-size: 17px;
    padding: 16px;
    box-shadow: inset 0 0 10px 4px rgba(0, 0, 0, .8);
}
#body{
    padding: 0 10px;
}
.buttons{
    cursor: default;
    text-align: center;
    padding: 7px 12px;
    font-size: 20px;
    text-shadow: 0 -1px 1px #000;
    font-weight: bold;
    display: inline-block;
    border-top: 1px solid #777;
    width: 34px;
    background: linear-gradient(#5f5f5f 0% ,#404040 100%);
    box-shadow: 0 2px 6px rgba(0,0,0,.8) ;
    margin-bottom: 10px;
}
.buttons:hover{
    background: linear-gradient(#790144 0%, #404040 100%);
    border-top: 1px solid #940073;
    text-shadow: 0 -1px 1px #008080;
}
.buttons:active {
box-shadow: none;
    }
